@{
    ViewBag.Title = "BoardBrowser";
}
<h2>@ViewBag.Title</h2>


<p>Boardbrowser was created so that indivduals who shared a love for skating had a place to go to see reliable ratings and purchase fair priced boards online. We only sell quality boards that can endure years of wear and tear. We are here to help all your skating dreams come true.</p>
