@{
    ViewBag.Title = "BoardBrowser";
}
<h2>@ViewBag.Title</h2>

<div class="card">
    <div class="card-body">
        Boardbrowser was created so that indivduals who shared a love for skating had a place
        to go to see reliable ratings and purchase fair priced boards online.
        We only sell quality boards that can endure years of wear and tear.
        We are here to help all your skating dreams come true. 
        Create an account today to fully utilize the functions of BoardBrowser. You can view/buy 
        boards posted by others selling boards as well as post your own.
    </div>
</div>

